{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}
<table class="table-bordered table-dark justify-content-center centered-table">
    <tr style="background-color: #3bab82;">
        <th>Post_ID</th>
        <th>Datum</th>
        <th>Thema</th>
        <th>Punkte</th>
        <th>Auffäligkeiten</th>
        <th>Verbesserungsmöglichkeiten</th>
        <th>Strategien</th>
        <th>Kommentar löschen</th>
    </tr>
    {% for post in data %}
        <tr>
            <td style="background-color: #3bab82;">{{ post["post_id"] }}</td>
            <td>{{ post["day"] }}</td>
            <td>{{ post["thema"] }}</td>
            <td>{{ post["points_reached"] }}/{{ post["points_possible"] }}</td>
            <td>{{ post["noticeable"] }}</td>
            <td>{{ post["to_improve"] }}</td>
            <td>{{ post["strategys"] }}</td>
            <td>
                <form method="post" action="/delete_comment">
                    <input type="submit" class="btn"  value="🗑️">
                    <input type="hidden" name="post_id" value="{{ post['post_id'] }}">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% if alert %}    
    <div class="alert alert-danger" role="alert">
    {{ alert }}
    </div>    
{% endif %}
<br>
<p>Kommentar hinzufügen</p>
<form method="post" action="/comments" >
    <select class="btn dropdown-toggle" name="post_id" style="background-color: #3bab82;">
        <option selected hidden>Wähle einen Post</option>
        {% for post in data %}
        <option> {{ post["post_id"] }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <label>mögliche Punkte</label>
    <input type="number" id="points_reached" name="points_reached" style="background-color: #3bab82;">
    <label>erreichte Punkte</label>
    <input type="number" id="points_possible" name="points_possible" style="background-color: #3bab82;">
    <br>
    <br>
    <label>Auffäligkeiten</label>
    <input type="text" id="noticeable" name="noticeable" style="background-color: #3bab82;">
    <label>Verbesserungsmöglichkeiten</label>
    <input type="text" id="to_improve" name="to_improve"  style="background-color: #3bab82;">
    <label>Strategien</label>
    <input type="text" id="strategys"  name="strategys" style="background-color: #3bab82;">
    <br>
    <br>
    <input type="submit" class="btn" style="background-color: #3bab82;" value="Eintragen">
</form>
{% endblock %}